# Exercise 1: The basics - variables and types

## Aim: Introduce python variables and types.

### Issues covered:
 - Creating variables
 - Using `print` to display a variable
 - Simple arithmetic
 - Converting between types
 - Single-line comments
 - White-space makes code readable
 - In the notebook, you donâ€™t need `print`

## 1. Let's create some variables and print their values

Create a variable called `course` and assign it the value `"python"`

In [1]:
course = 'python'

Create a variable called `rating` and assign it an integer value (anything you like).

In [2]:
rating = 5

Print both variables to the screen using the `print` function.

In [59]:
print(course) # Using the print function prints both answers to screen
print(rating)
print(course,rating)

python
5
python 5

In [17]:
course # Just calling the variable
rating

5

Also try it printing the values without the `print` function.

_Note: This will work in notebooks, although what you see may be slightly different from what you get with `print`. In a script you would need to use `print`._

In [20]:
course

'python'

## 2. Let's use Pythagoras theorem to calculate the length of the hypotenuse of a right-angled triangle where the other sides have lengths 3 and 4.

Create variables called `b` and `c` and assign them the values of the sides with known lengths.

In [40]:
b = 4
c = 5

Write a mathematical expression to calculate the length of the hypotenuse (REMEMBER: "_a_-squared equals _b_-squared plus _c_-squared").

In [41]:
((b ** 2) + (c ** 2)) ** 0.5

6.4031242374328485

Create a variable `a` that equals the result of the calculation.

In [42]:
a = ((b ** 2) + (c ** 2)) ** 0.5

Print the value of variable `a`.

In [43]:
a

6.4031242374328485

## 3. Let's take a look at some data types.

Print the data type of each of the variables: `a`, `b`, `c`

In [51]:
print(type(a))
print(type(b))
print(type(c))

<class 'float'>
<class 'int'>
<class 'int'>

Can you work out why `a` is different from `b` and `c`?

_Hint: look at `type(b**2 + c**2)` and `type(0.5)`. Experiment with different operands for `**` - when is the output a `float`?_

In [63]:
print(type(b**2 + c**2))
print(type(0.5))

<class 'int'>
<class 'float'>

In [65]:
# Handy command that prints info of all variables in the current notebook
%whos

Variable   Type     Data/Info
-----------------------------
a          float    6.4031242374328485
astr       int      6
b          int      4
c          int      5
course     str      python
rating     int      5

## 4. Let's investigate converting between data types.

Use the `int()` built-in function to convert `a` into an integer type.

In [53]:
astr=int(a)
astr

6

Print the data type of `a` to check it worked.

In [54]:
print(type(a))

<class 'float'>

Now try running the following line of code:
```
print(a + " squared equals " + b + " squared + " + c + " squared.")
```

In [55]:
print(a + " squared equals " + b + " squared + " + c + " squared.")

TypeError: unsupported operand type(s) for +: 'float' and 'str'

You should get an error, do you know why?

_Hint: just consider the first `+`. What are the types of its arguments?_

In [60]:
print(type(a))
print(type(" squared equals "))

<class 'float'>
<class 'str'>

Try using the built-in `str()` (convert to string) function to fix the error.

In [61]:
print(str(a) + " squared equals " + str(b) + " squared + " + str(c) + " squared.")

6.4031242374328485 squared equals 4 squared + 5 squared.

_Note: in fact `print` gives you essentially the output of `str()` for each of the comma-separated items, adding spaces between them. This is what we saw above with `print(course, rating)`._

_Also try this:_
_`print(a, "squared equals", b, "squared +", c, "squared.")`_

In [62]:
print(a, "squared equals", b, "squared +", c, "squared.")

6.4031242374328485 squared equals 4 squared + 5 squared.

## 5. It is easy to write illegible code.

Let's start some good habits today. Adding comment lines at regular intervals helps to break up your code and make it easier to understand. Python does not enforce use of white-space around operators (such as `=`) but it really helps the reader. Please compare the readability of these two code blocks:

```
num=24
a=34.999
result=num*(13-a**2)+1.0
print("Result:",result)
```

and:

```
# Set up calculation inputs
num = 24
a = 34.999

# Calculate result using the Godzilla algorithm
result = num * (13 - a**2) + 1.0
print("Result:", result)
```